body{
    margin: 0%;
    padding: 0%;
}
.wrapper{
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 3px solid;
}
.card-img{
    width: 50%;
    height: 70%;
    align-self: center;
}
.card-titulo{
    align-self: center;
}